<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="/img/weather.png">
</head>
<body>
  <div class="main-content">
    {{>header}}
    <p class="tip">Enter Your Address and Get Your Weather</p>
    <br>
    <form>
      <input placeholder="Location">
      <button id="btn-search">Search</button>
      <button id="btn-geolocation">Use My Location</button>
    </form><br>
    <p id="message-1"></p>
    <p id="message-2"></p>
    <p id="message-3"></p>
  </div>
  {{>footer}}
  
  <script src="/js/app.js"></script>
</body>
</html>

